* {
  box-sizing: border-box;
}

#grid-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

#menu {
  display: flex;
  gap: 24px;
}

.row,
.column {
  flex: 1 0 auto;
}

.column {
  border-style: solid;
  border-width: thin;
}
